/*body { font-family: sans-serif; } */
button { padding: 10px 20px; font-size: 16px; }
#message {
  opacity: 1; /* 初期表示 */
  transition: opacity 2s ease-in-out; /* フェードアウト/インのトランジション */
  margin-bottom: 10px; /* ボタンとの間隔 */
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
.hidden {
  display: none; /* アニメーション後に完全に非表示にする場合 */
}